@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  // background: $violet;
  height: 100vh;
}

.heading {
  height: 15vh;
  background-color: bisque;
  text-align: center;
  line-height: 15vh;
  margin-top: 3vh;
}

.wrap {
  position: absolute;
  width: 60vw;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
}

.item {
  border: 3px solid rgb(68, 23, 23);
  flex-basis: 25%;
  background-color: chocolate;

  &__img {
    margin: 5% auto 0;
    display: block;
    width: 100%;
    padding: 30px;
    width: 200px;
    height: 200px;
    background-color: burlywood;

  }

  &__heading {
    font-family: fantasy;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 32px;
    text-align: center;
    height: 15%;
  }

  &__description {
    width: 70%;
    margin: 0 auto;
    text-align: center;


  }

  &__price {
    text-align: right;
    margin-right: 10%;
  }

  &__btn {
    display: block;
    margin: 30px auto 0;
  }
}


.aside {
  position: absolute;
  top: 20%;
  right: 2%;
  border: 2px solid darkgoldenrod;
  width: 15vw;
  min-height: 10vh;
  padding: 0;

}

.added {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 90%;
  padding: 0;
  background-color: rgb(149, 182, 184);
  margin: 0;
  padding: 0;



}

.addItem {
  border: 1px solid rgb(66, 66, 80);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;



  &__img {

    display: block;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin: 5% auto 0;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
    text-align: center;
    background-color: burlywood;

  }

  &__name {
    display: block;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(14, 5, 5);
    font-size: 24px;
    // background-color: darkgreen;
    text-align: center;
    height: 100%;
    // flex-grow: 1;
    flex-basis: 20%;
    margin: 0;
    padding: 0;
  }

  &__price {
    // background-color: darkgoldenrod;
    // flex-grow: 1;
    flex-basis: 20%;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 5%;
    padding-top: 2%;
    background-color: rgba(248, 237, 237, 0.3);
    color: rgb(63, 43, 5);

  }

  &__summary {
    // background-color: rgb(174, 185, 185);
    text-align: right;
    color: black;
    padding-right: 5%;


  }

  &__total-cost {
    font-size: 18px;
    color: rgb(41, 37, 37);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;

  }

  &__toPay {
    font-weight: bold;
  }
}